
<div  class="intro">
      <p>
       <br>
        The internet is a vast and ever-expanding space. With an overload of information, it can be hard (or rather easy) to find what you need or are looking for.
  Below is a list of things I found useful or simply entertaining.</p>
        
        <div class="interesting-menu">
          <button class="menu-button" mat-button [routerLink]="['links']">
            <mat-icon>collections_bookmark</mat-icon>
            <span>Links</span>
          </button>
          <button class="menu-button" mat-button [routerLink]="['videos']">
            <mat-icon>video_library</mat-icon>
            <span>Musings</span>
          </button>
          <!-- <button class="menu-button" mat-button [routerLink]="['arts']">
            <mat-icon>format_paint</mat-icon>
            <span>Projects</span>
          </button> -->
        </div>
      <router-outlet></router-outlet>
      
    </div>

   <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter </td>
              </tr>
              <th mat-header-cell *matHeaderCellDef>Author</th>
                <td mat-cell *matCellDef="let element">Victor Frankle</td> -->