<div  class="intro">
      <p>
       <br>
        With an unquenching thirst for knowledge, I sift through works and books for ideas and concepts; 
        a big-picture concept that can explain my existence is what I'm after!</p>
        
        <div class="interesting-menu">
          <button class="menu-button" mat-button [routerLink]="['links']">
            <mat-icon>collections_bookmark</mat-icon>
            <span>Links</span>
          </button>
          <button class="menu-button" mat-button [routerLink]="['videos']">
            <mat-icon>video_library</mat-icon>
            <span>Musings</span>
          </button>
          <button class="menu-button" mat-button [routerLink]="['arts']">
            <mat-icon>format_paint</mat-icon>
            <span>Projects</span>
          </button>
        </div>
      <router-outlet></router-outlet>
      
    </div>

   <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter </td>
              </tr>
              <th mat-header-cell *matHeaderCellDef>Author</th>
                <td mat-cell *matCellDef="let element">Victor Frankle</td>