/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:4% 4%;
    margin-top: 0;
    font-size: larger;
} */
.intro{
  margin:0 6% 6%;
  font-size: x-large;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }
  .example-header{
    min-height: 64px;
    padding: 8px 24px;
  }

  table.mat-table{
    background-color: rgba(0, 0, 0, 0);
  }
  .mat-column-author{
    width: 10%;
  }
  .mat-column-title{
    width: 15%;
  }

  .videos{
    display: flex;
    flex-direction: row;
  }

  .mat-paginator{
    background-color: rgba(0, 0, 0, 0);
  }
/*
.mat-expansion-panel-body{
    padding: 0 20% 16px;
}
mat-accordion{
    
}*/