/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:4% 4%;
    margin-top: 0;
    font-size: larger;
} */

  .mat-button{
    font-size: x-large;
  }
  .menu-button:hover{
    color:#dca79f;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }
  .example-header{
    min-height: 64px;
    padding: 8px 24px;
  }

  /* .videos{
    display: flex;
    flex-direction: row;
  } */

  mat-icon{
    margin: 5px;
  }
/*
.mat-expansion-panel-body{
    padding: 0 20% 16px;
}
mat-accordion{
    
}*/