<div class="container">
  <p>
  The internet is a vast and ever-expanding space. with an overload of information, it can be hard(or rather easy) to find what you need or are looking for.
  Below is a list of things i found useful or found simply entertaining.
</p>
<ol class="resources">
  <li><a target="_blank" href="https://www.chess.com/member/queenzbeez">Chess</a> - Play with me!</li>
  <li><a href="https://yousician.com/">Yousician</a> - Learn guitar, ukele, and singing at your own pace!</li>
  <li><a href="https://www.duolingo.com/profile/brendahermarq">Duolingo</a> - Learn a language, but make it fun and competitive. Add me!</li>
  <li><a href="https://www.languagereactor.com/">Language Reactor</a> - Chrome extension for learning/ translating netflix movies and shows. Also for Youtube!</li>
  <!-- <li><a href=""></a></li> -->

  </ol>
</div>

