table {
    width: 100%;
  }
table.mat-table{
    background-color: rgba(0, 0, 0, 0);
  }
.mat-column-author{
    width: 20%;
  }
.mat-column-title{
    width: 20%;
  }
.mat-paginator{
    background-color: rgba(0, 0, 0, 0);
}
.resources a{
  color: #dca79f
}

.resources a:hover{
  color: #8b9bf1;
}
