<div class="container">
<ol class="resources">
  <p>Apps and Extensions</p>
  <li><a target="_blank" href="https://www.chess.com/member/queenzbeez">Chess</a> - Interactive lessons and daily puzzles!</li>
  <li><a href="https://yousician.com/">Yousician</a> - Learn guitar, ukele, and singing at your own pace!</li>
  <li><a href="https://www.duolingo.com/profile/brendahermarq">Duolingo</a> - Learn a language, but make it fun and competitive. Add me!</li>
  <li><a href="https://www.languagereactor.com/">Language Reactor</a> - Chrome extension for learning/ translating netflix movies and shows. Also for Youtube!</li>
  <p>YouTube Videos & Channels</p>
  <li><a href="https://youtu.be/k-J9BVBjK3o?si=MEvSZFsAAc68EHCA">20 Signs You're Emotionally Mature</a> - <b>'School of Life'</b> breaks down life meaningful life lessons that can be easily applied for a richer experince</li>
  <li><a href="https://youtu.be/cztCmNSVS3Q?si=QZvdfNJCIrHWCDoG">Time, Tarkovsky and The Pandemic</a> - <b>'Nerdwriter1'</b> is a channel that explains interesting concepts, ideas, and topics. From art to sciene.</li>
  <li><a href="https://youtu.be/h6fcK_fRYaI?si=IznyIUS0Ln4aH79k">The Egg, a short story</a> - <b>'Kurzgesagt - In a Nutshell'</b> beautifully animates scientific and provoking ideas to make you wonder deeply.</li>
  <li><a href="https://youtu.be/AIKgRtmbIkM?si=5z4kJAiUm_j5HvCd">Carl Jung and the Psychology of the Man-Child</a> - <b>'Academy of Ideas'</b> explains and connects modern life through philosphical and even psychological analysis.</li>
  <li><a href="https://youtu.be/UzJQUJRRaTw?si=67VguNkYIb_eAnad">Earthling Cinema</a> -<b>'Wisecrack'</b> offers pop culture commentary in various creative forms.</li>
  <li><a href="https://youtu.be/4nHj3gL_JN0?si=ysYUoGmBeljAMP4Z">The Profound Meaning of Plato's Allegory of the Cave</a> - <b>'After Skool'</b> uniquely illustrates deep, controversial and thoughtful ideas.</li>
  <li><a href="https://youtu.be/lfXAdlaVy9k?si=9BGpS9V7eXXF4ABk">What is the meaning of Suffering?</a> - <b>'Eternalized'</b> is a philosophical channel that brings together teachings of various well known philosophers and thinkers.</li>

  <li><a href="https://youtu.be/3_VydFQmtZ8?si=2fZP7isJFyLHKsGU">Topology of a Twisted Torus</a> - <b>'Numberphile'</b> explains various interesting mathematical concepts in a casual way.</li>
  <li><a href="https://youtu.be/MBnnXbOM5S4?si=EIDCJJaVG1AK0dyS">The more general uncertainty principle, regarding Fourier transforms</a> - <b>'3Blue1Brown'</b> provides mathematical concepts with easy-to-follow visuals.</li>
  <li><a href="https://youtu.be/zcqZHYo7ONs?si=2iFFlywarRrM4WI5">Bell's Theorem: The Quantum Venn Diagram Paradox</a> - <b>'Minute Physics'</b> explains and provides visuals for physic concepts.</li>
  <li><a href="https://youtu.be/eoStndCzFhg?si=u42t9_O58pYvq0M3">Quantum Fields: The Most Beautiful Theory in Physics!</a> - <b>'Arvin Ash'</b> uses visuals and animations to explain concepts of physics, space, and mathematics.</li>
  </ol>
</div>

