<div class="container">
    <div class="image">
        <img class="personal-pic" src="assets/img/myself2.png" alt="smiling girl holding ice cream with pink, white swirl background"/>
    </div>
    <div class="about-me">
        <p style="margin: 0 0 12px; padding: 15px;">Born in Mexico City, Mexico and raised in East Palo Alto, California. At only age 6, family migrated across the border, in a high risk, high reward method in which me and 2 younger siblings (age 1 and 2) were handed over to strangers continually over the span of a week. 
            <a routerLink="/aboutme" class="p-readmore">How I reunited with my parents across the border!</a></p>
        <p style="margin: 0 0 12px; padding: 15px;">Living in East Palo Alto has taught me a lot. Always carry pepper spray, and rules for the rich are unfair were only some of the many crude lessons I had to learn.
            <a routerLink="/interesting-links" class="p-readmore">Living in one of the nations top murder capital</a></p>
        <p style="margin: 0 0 12px; padding: 15px;">My admiration for mathematics, early in gradeschool, enamored me with the desire to understand deep and complex systems and topics. Nature, for me, became the true source of beauty, curiosity and mystery about the world around me.
            <a routerLink="/interesting-links" class="p-readmore">So many wonders to research and questions to ask!
                <mat-icon width="16px">arrow_forward_ios</mat-icon></a></p>
            <!--<p style="margin: 0 0 12px; padding: 15px;">
            <a routerLink="/" style="vertical-align: bottom;" class="p-readmore">Read some more
                <mat-icon width="16px">arrow_forward_ios</mat-icon> </a> </p>-->
    </div>
</div>