<div class="container">
    <div class="image">
        <img class="personal-pic" src="assets/img/myself2.png" alt="smiling girl with brick wall background"/>
    </div>
    <div class="about-me">
        <p style="margin: 0 0 12px; padding: 15px;">It was at only age 6, when part of my family migrated across the border, in a high risk, high reward method in which 2 younger siblings and I were handed over to strangers, continually, over the span of a week. 
            <a href="https://medium.com/@brenda.hernandez243/on-illegally-crossing-the-border-my-story-4c28cc0762ce" class="p-readmore">How I reunited with my parents across the border!</a></p>
        <p style="margin: 0 0 12px; padding: 15px;">...The compiled lessons from EPA have taught me to be a more aware and resilient person and in the process has ensured I prioritize personal safety. And for that I am forever grateful.
            <a href="https://medium.com/@brenda.hernandez243/a-tale-of-two-worlds-4c65b3fbbb52" class="p-readmore">Living in one of the nations "murder capital"</a></p>
        <p style="margin: 0 0 12px; padding: 15px;">My admiration for mathematics, early in gradeschool, enamored me with the desire to understand deep and complex systems and topics. Nature, for me, became the true source of beauty, unquenching curiosity, and mystery about the world around me.
            <a>So many wonders to research and questions to ask!</a></p>
              <!--  <mat-icon width="16px">arrow_forward_ios</mat-icon></a></p>
            <p style="margin: 0 0 12px; padding: 15px;">
            <a routerLink="/" style="vertical-align: bottom;" class="p-readmore">Read some more
                <mat-icon width="16px">arrow_forward_ios</mat-icon> </a> </p>-->
    </div>
</div>