<!-- <div class="container">
    <br>
    <div class="intro">
      <p>
        Troubleshooting and debugging are my areas of strength. I am quick to learn and understand application stacks, and can debug in various environments. I enjoy dealing with data, be it cleaning, analyzing or updating; 
        I have exposure to SQL and NoSQL and web development using the angular framework. Besides continual learning, I spend time reading, practicing my electric guitar, and some photography.  
      </p>
      <br>
      <hr class="skills" width="500px">
    </div>
    <div class="interesting-menu">
      <button class="menu-button" mat-button [routerLink]="['certs']">
          <mat-icon>assignment_turned_in</mat-icon>
          <span>certificates</span>
      </button>
    </div>
    <router-outlet></router-outlet>
</div> -->
  <div  class="intro">
    <p>
    <br>
      Troubleshooting and debugging are my areas of strength. 
      I am quick to learn and understand application stacks, and can debug in various environments. 
      I enjoy dealing with data, be it cleaning, analyzing or updating; 
      I have exposure to SQL and NoSQL and web development using the angular framework. 
      Besides continual learning, I spend time reading, practicing my electric guitar, and some photography.
    </p>
      
      <div class="interesting-menu">
        <button class="menu-button" mat-button [routerLink]="['certs']">
          <mat-icon>assignment_turned_in</mat-icon>
          <span>certificates</span>
        </button>
      </div>
    <router-outlet></router-outlet>
    
  </div>
