<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">

    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elevation-z8" src="assets/img/blurry.jpg" alt="girl with big smile"/>

    <h4 class="name">Brenda Hernandez</h4>
    <p class="title">Software Engineer</p>

    <mat-divider></mat-divider>

    <div class="menu-button">
      <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button routerLink="/aboutme">
        <mat-icon>face</mat-icon>
        <span>About</span>
      </button>
      <button mat-button routerLink="/interesting-links">
        <mat-icon>bookmark</mat-icon>
        <span>Collections</span>
      </button>
    </div>

    <mat-divider></mat-divider>
<div class="footer">
    <footer >
      <a target="_blank" href="https://www.instagram.com/_brhrn/">
        <i class="fab fa-instagram custom-icon"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/brenda-hernandez-600362133/">
          <i class="fab fa-linkedin custom-icon"></i>
      </a>
      <a target="_blank" href="mailto:brenda.hernandez243@gmail.com">
        <i style="font-size:33px" class="fab fa-google custom-icon"></i>
      </a>
      <a target="_blank" href="https://medium.com/@brenda.hernandez243/about">
        <i class="fab fa-medium-m custom-icon"></i>
      </a>
      <a target="_blank" href="https://twitter.com/brendahernanz">
        <i class="fab fa-twitter custom-icon"></i>
      </a>
      <a target="_blank" href="https://www.goodreads.com/user/show/27110450-brenda-hernandez">
        <i class="fab fa-goodreads custom-icon"></i>
      </a>
      <a target="_blank" href="https://github.com/bherna24">
        <i class="fab custom-icon">&#xf09b;</i>
      </a>
      <a target="_blank" href="https://coinbase.com/join/hernan_lcib">
        <i class="fab fa-btc custom-icon"></i>
      </a>
      <a target="_blank" href="https://www.filmaffinity.com/en/userratings.php?user_id=4204794">
        <img style="border-radius:20%" src="assets/img/falogo.png">
      </a>
    </footer>
  </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <h2>Hello there!</h2>
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>