
<div class="container">
    <ol class="resources">
        <li><a target="_blank" href="https://www.youtube.com/embed/_za4-VpSVag">William Blake</a> - The Otherworldy Art of William Blake</li>
        <li><a target="_blank" href="https://www.youtube.com/embed/xjwCxpylfNc">Peter Birkhäuser</a> - The Dream Artist Nobody Knows About</li>
        <li><a target="_blank" href="https://en.wikipedia.org/wiki/Women_Who_Run_with_the_Wolves#Introduction">Clarissa Pinkola Estés</a> - Every woman has that unnatural force which will seek to inhibit the natural instinct.</li>
        </ol><!-- 
<mat-accordion>
    <mat-expansion-panel style="width: 20%;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                William Blake
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <p>
                <iframe
                    width="450"
                    height="250"
                    src="https://www.youtube.com/embed/_za4-VpSVag"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </p>
        </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel style="width: 20%;">
        <mat-expansion-panel-header>
            <mat-panel-title>Peter Birkhäuser</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <p>
                <iframe
                width="450"
                height="250"
                src="https://www.youtube.com/embed/xjwCxpylfNc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                ></iframe>
            </p>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
</div> -->