<div class="videos">
<mat-card>
    <mat-card-title>William Blake</mat-card-title>
    <p> <iframe width="450" height="250" src="https://www.youtube.com/embed/_za4-VpSVag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</mat-card>
<mat-card>
    <mat-card-title>Peter Birkhäuser</mat-card-title>
    <p> <iframe width="450" height="250" src="https://www.youtube.com/embed/xjwCxpylfNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</mat-card>
</div>