/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Bradley Hand, cursive;  background-image: url("/assets/img/perspective.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width:100%;
    height:auto;
}


/* COMMON */
.p-cursor{
    cursor:pointer;
}
.p-flex{
    display: flex;
}
.p-flex-align-center{
    align-items: center;
}
.p-flex-jc-sb{
    justify-content: center;
}