    <div class="intro">
          <br>
          <div>
             <p>I am a <b>curious</b>, <b>open-minded</b>, and <b>empathetic</b> analyst with a passion for learning and beauty.
             <br>
             <br>
              With experience in financial analysis and full-stack web development (MEAN stack),
              I am looking to continue my career in data analysis and web development but any opportunity to grow and contribute to the community is welcomed!</p>
              <!--<br style="width:auto;"> <hr> -->
              <p style="text-align: end;">Thanks for stopping by, <br>Brenda</p>

        </div>
    </div>
